<app-navbar></app-navbar>
<div style="height: 60px; width: 100%;background-color: rgb(204, 255, 0);font-size:12px;line-height: 1.5;text-align: center;">
  <strong>25% OFF EVERYTHING!*<br>
    Discounts for 05/05<br>
    With code: FIVE</strong>
</div>
<div class="container">
  <picture style="width: 100%;">
    <source srcset="https://content.asos-media.com/-/media/homepages/unisex/generic-hp/april-2023/mobile-generic-hp_640x1070.jpg" media="(max-width: 768px)">
    <img style="width: 100%;position:relative;transform:none;left:0;top:0;" src="../assets/img/icon/desktop-generic-hp_1440x698-v2.jpeg" alt="img">
  </picture>
  <div class="overlay">
    <div style="background-color: white; height: 30px;padding:1.5vw;border:1px solid white;width: 30vw;">
      <h1 style="font-weight: 900;font-size: 5vw;">This is ASOS</h1>
    </div>
    <div class="just-pc" style="background-color: white; height: 20px;padding:.5vw;width:23vw;border:1px solid white;margin-left:auto;margin-right:auto">
      <h4 style="font-size: 1.5vw;font-weight: 500;">ASOS DESIGN and 850+ brands</h4>
    </div>
    <div class="just-mobile" style="background-color: white; height: 20px;padding:.5vw;width:45vw;border:1px solid white;margin-left:-15%">
      <h4 style="font-size:3vw;font-weight: 500;">ASOS DESIGN and 850+ brands</h4>
    </div>
    <div class="buttons buttons-pc just-pc">
      <div>
        <a>SHOP WOMAN</a>
      </div>
      <div>
        <a>SHOP MAN</a>
      </div>
      <div style="visibility: hidden;">
        <a>s</a>
      </div>
    </div>
    <div class="buttons buttons-mobile just-mobile">
      <div style="margin: 60px 0;">
        <a>SHOP WOMAN</a>
      </div>
    </div>
    <div class=" buttons buttons-mobile just-mobile">
      <div>
        <a>SHOP MAN</a>
      </div>
    </div>
  </div>
</div>
